@import './_reset.scss';

html {
    height: 100%;
    font-family: "Roboto";
}

body, #app {
    height: 100%;
}

.graph-editor {
    height: 100%;
    display: flex;
    flex-direction: column;

    .nav {
        flex: 0 0 auto;
        margin: 10px;

        button {
            &:not(:last-child) {
                margin-right: 5px;
            }
            &.enabled {
                background: grey;
                color: white;
            }
        }

        input[type=file], a[download] {
            display:none;
        }
    }

    .playground {
        position: relative;
        flex: 1 0 auto;
        margin: 10px;
        margin-top: 0;
        border: 1px solid grey;

        .node {
            position: absolute;
            width: 30px; height: 30px;
            border-radius: 50%;
            transform: translate(-50%,-50%);
            border: 1px solid black;
            background: white;
            cursor: pointer;
            z-index: 2;

            .node__tooltip {
                display: none;
                position: relative;
                top: 24px;
                left: 24px;
                padding: 2px 5px;
                border-radius: 3px;
                white-space: nowrap;
                background: #000000bf;
                color: white;
            }

            &:hover {
                .node__tooltip {
                    display: initial;
                }
            }

            &--new {
                border-style: dashed;
                z-index: 3;
            }
            &--moving {
                border-style: dashed;
                z-index: 3;
            }
        }

        .edge {
            position: absolute;
            border: 1px solid black;
            z-index: 1;
            &--new {
                border-style: dashed;
            }
            &--moving {
                border-style: dashed;
            }
            &--up-left    { border-left:  0; border-bottom: 0; border-top-right-radius:    5px; } //  ⎺| (clockwise)
            &--left-up    { border-right: 0; border-top:    0; border-bottom-left-radius:  5px; } // |_
            &--right-up   { border-left:  0; border-top:    0; border-bottom-right-radius: 5px; } //  _| (clockwise)
            &--up-right   { border-right: 0; border-bottom: 0; border-top-left-radius:     5px; } // |⎺
            &--down-right { border-right: 0; border-top:    0; border-bottom-left-radius:  5px; } // |_  (clockwise)
            &--right-down { border-left:  0; border-bottom: 0; border-top-right-radius:    5px; } //  ⎺|
            &--left-down  { border-right: 0; border-bottom: 0; border-top-left-radius:     5px; } // |⎺  (clockwise)
            &--down-left  { border-left:  0; border-top:    0; border-bottom-right-radius: 5px; } //  _|
        }

        .edge-inter {
            position: absolute;
            border: 8px solid transparent;
            transform: translate(-50%,-50%);
            z-index: 4;
            cursor: pointer;
        }
        .edge--new        + .edge-inter { display: none; }

        .edge--up-left    + .edge-inter { border-right:   8px solid black; }
        .edge--left-up    + .edge-inter { border-bottom:  8px solid black; }
        .edge--right-up   + .edge-inter { border-bottom:  8px solid black; }
        .edge--up-right   + .edge-inter { border-left:    8px solid black; }
        .edge--down-right + .edge-inter { border-left:    8px solid black; }
        .edge--right-down + .edge-inter { border-top:     8px solid black; }
        .edge--left-down  + .edge-inter { border-top:     8px solid black; }
        .edge--down-left  + .edge-inter { border-right:   8px solid black; }

        .edge-label {
            position: absolute;
            transform: translate(-50%, -50%);
            z-index: 3;
        }
        .edge--up-left    ~ .edge-label { .edge-label__inner { transform: translate(0, -100%); } }
        .edge--left-up    ~ .edge-label { .edge-label__inner { transform: translate(-65%, 0); } }
        .edge--right-up   ~ .edge-label { .edge-label__inner { transform: translate( 65%, 0); } }
        .edge--up-right   ~ .edge-label { .edge-label__inner { transform: translate(0, -100%); } }
        .edge--down-right ~ .edge-label { .edge-label__inner { transform: translate(0,  100%); } }
        .edge--right-down ~ .edge-label { .edge-label__inner { transform: translate( 65%, 0); } }
        .edge--left-down  ~ .edge-label { .edge-label__inner { transform: translate(-65%, 0); } }
        .edge--down-left  ~ .edge-label { .edge-label__inner { transform: translate(0,  100%); } }
    }
}
